In [2]:
#‘二维数组’DataFrame: 是一个表格形的数据结构，包含一组有序的列，其列的值类型可以是数值、字符串、布尔值等。
#DataFrame中的数据以一个或多个二维块存放，不是列表，字典或一维数据结构。
#DataFrame是多个Series的组合

import pandas as pd

A_income_sheet = pd.Series([5000,10000,3000],index=['净利润','总收入','利息支出'])
B_income_sheet = pd.Series([9000,10000,3000],index=['净利润','总收入','利息支出'])
C_income_sheet = pd.Series([8000,90000,3000],index=['净利润','总收入','利息支出'])

#dict
temp = {'公司A':A_income_sheet, '公司B':B_income_sheet,'公司C':C_income_sheet}

df = pd.DataFrame(temp)
df

        公司A    公司B    公司C
净利润    5000   9000   8000
总收入   10000  10000  90000
利息支出   3000   3000   3000

In [6]:
# 顺序 提取数据
df.iloc[0,1] #行顺序，列顺序，中间以逗号隔开
df.iloc[0:2,:]
df.iloc[:,0]

#索引 提取数据
df.loc['净利润','公司A']
df.loc['净利润',:]

公司A    5000
公司B    9000
公司C    8000
Name: 净利润, dtype: int64

In [19]:
#（1） 转置，行和列之间对换
df1 = df.T
df1

#行的索引 是日期， 列的 名称 是各项属性

#（2）增加 修改 数值
a = [200,500,3000]

df1.loc[:,'管理费用'] = a
df1

b = [50,20,10,30]
df1.loc['公司D',:] = b
df1

df1.iloc[0,0] = 450
df1

#（3）删减数据
# drop
df1.drop(index=['公司A'])
df1.drop(columns=['总收入'])


#（4）排序数据
df1
df1.sort_values(by = ['净利润'],ascending = False)

        净利润      总收入    利息支出    管理费用
公司B  9000.0  10000.0  3000.0   500.0
公司C  8000.0  90000.0  3000.0  3000.0
公司A   450.0  10000.0  3000.0   200.0
公司D    50.0     20.0    10.0    30.0