In [2]:
#tushare的版本
import tushare as ts
ts.__version__

'1.2.59'

In [3]:
#(1)股票的历史行情数据
#get_hist_data()

ts.get_hist_data('000001')

,open,high,close,low,volume,price_change,p_change,ma5,ma10,ma20,v_ma5,v_ma10,v_ma20
date,,,,,,,,,,,,,
2020-05-07,13.76,13.76,13.69,13.60,662749.25,-0.08,-0.58,13.786,13.558,13.183,874314.84,967664.64,843918.91
2020-05-06,13.76,13.89,13.77,13.61,1008998.00,-0.16,-1.15,13.748,13.488,13.129,929130.98,983235.29,852048.85
2020-04-30,14.02,14.32,13.93,13.88,819540.38,-0.09,-0.64,13.642,13.400,13.089,840531.70,1015451.97,827517.20
2020-04-29,13.48,14.10,14.02,13.45,1108722.38,0.50,3.70,13.502,13.275,13.037,806021.55,1012413.43,812581.99
2020-04-28,13.45,13.56,13.52,13.27,771564.19,0.02,0.15,13.344,13.160,12.976,790837.62,967180.83,782814.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017-11-13,12.35,13.10,12.90,12.35,2566906.25,0.60,4.88,12.316,12.316,12.316,2671947.33,2671947.33,2671947.33
2017-11-10,12.37,12.55,12.30,12.15,1757552.38,-0.03,-0.24,12.170,12.170,12.170,2698207.60,2698207.60,2698207.60
2017-11-09,12.20,12.57,12.33,12.15,2295289.25,0.20,1.65,12.127,12.127,12.127,3011759.33,3011759.33,3011759.33
2017-11-08,12.00,12.59,12.13,11.93,4262825.50,0.21,1.76,12.025,12.025,12.025,3369994.38,3369994.38,3369994.38
2017-11-07,11.27,12.09,11.92,11.25,2477163.25,0.64,5.67,11.920,11.920,11.920,2477163.25,2477163.25,2477163.25

In [5]:
#(2)复权数据
# 官网：tushare.org和tushare.pro

ts.get_h_data('000001')

[Getting data:]#

Empty DataFrame
Columns: []
Index: []

In [7]:
#(3)限售股解禁
ts.xsg_data(year=2020,month=3)

       code  name        date     count  ratio
0    002151  北斗星通  2020-03-31      9.00   0.02
1    002171  楚江新材  2020-03-31    291.52   0.22
2    300636  同和药业  2020-03-31   3308.11  40.87
3    603303  得邦照明  2020-03-31  36720.00  75.29
4    002320  海峡股份  2020-03-30  15308.71  15.45
..      ...   ...         ...       ...    ...
151  300708  聚灿光电  2020-03-02     63.40   0.24
152  600170  上海建工  2020-03-02  41748.78   4.69
153  600187  国中水务  2020-03-02  19831.09  11.99
154  600928  西安银行  2020-03-02  71119.09  16.00
155  601727  上海电气  2020-03-02  60684.34   4.00

[156 rows x 5 columns]

In [10]:
#(4)行业分类
temp1 = ts.get_industry_classified()
temp1

        code                 name  c_name
0  请使用pro版接口  https://tushare.pro     NaN

In [11]:
#热点 概念
ts.get_concept_classified()

           code                 name  c_name
0  请使用pro版概念股接口  https://tushare.pro     NaN

In [12]:
#上市公司财务报表数据
#财务指标

#盈利能力指标
ts.get_profit_data(2017,3)

[Getting data:]############################################################

,code,name,roe,net_profit_ratio,gross_profit_rate,net_profits,eps,business_income,bips
0,000717,韶钢松山,79.22,9.44,14.1042,1750.2624,0.7233,18534.1754,7.6602
1,600793,宜宾纸业,65.40,13.31,7.9084,100.6484,0.9558,755.8083,7.1776
2,600306,*ST商城,63.19,18.55,17.8601,114.9175,0.6451,619.3852,3.4769
3,000526,紫光学大,61.03,2.78,31.1212,63.6477,0.6616,2283.9083,23.7424
4,600768,宁波富邦,57.83,14.95,2.7349,88.3171,0.6603,590.4731,4.4148
...,...,...,...,...,...,...,...,...,...
3571,603709,中源家居,NaN,9.68,28.9359,56.4507,0.9408,583.0427,9.7173
3572,000737,ST南风,NaN,-17.30,21.1731,-252.9111,-0.4608,1461.2906,2.6628
3573,600877,ST电能,NaN,7.11,5.3347,31.7456,0.0461,446.4243,0.6495
3574,002912,中新赛克,NaN,31.44,84.7858,95.3329,1.9066,303.1262,6.0625
3575,300664,鹏鹞环保,NaN,34.00,57.8294,204.6333,0.5115,601.8584,1.5046

In [13]:
#偿债能力指标
ts.get_debtpaying_data(2017,3)

[Getting data:]############################################################

,code,name,currentratio,quickratio,cashratio,icratio,sheqratio,adratio
0,601869,长飞光纤,--,--,--,1744.0339,--,--
1,603687,大胜达,--,--,--,-32363.4161,--,--
2,603693,江苏新能,--,--,--,389.7647,--,--
3,603700,宁水集团,--,--,--,1941.1945,--,--
4,601990,南京证券,--,--,--,--,--,--
...,...,...,...,...,...,...,...,...
3571,600608,ST沪科,1.18,1.0654,26.7326,-641.8639,-11.7483,111.748
3572,600877,ST电能,0.3723,0.3268,21.2117,162.0109,-12.9356,112.936
3573,000953,*ST河化,0.1599,0.1253,8.4794,104.0897,-13.3442,113.344
3574,002306,ST云网,0.7954,0.7874,7.0496,-83675.3307,-15.1923,115.192
3575,600247,ST成城,1.1626,1.1527,0.1788,-1053.927,-31.0691,131.069

In [15]:
#宏观经济数据
#国内的货币供应量

ts.get_money_supply()

UnicodeDecodeError: 'gbk' codec can't decode byte 0x91 in position 130: illegal multibyte sequence

In [22]:
#直接拿来分析
#或保存到本地
#excel

df = ts.get_hist_data('000001')
df.to_excel('/Users/zhangzhen/Desktop/平安银行日线数据.xlsx')